.main-container{
  display:flex;
  flex-direction: column;
  width: 100%;
}


.header{
  display: flex;
  flex-direction: column;
  height: 500px;
  background-image: url("https://github.com/aberenjian89/pexcel/blob/master/resource/header-background.jpeg?raw=true") ;
  position: absolute;
  width: 100%;
  //justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-size: cover;
  background-position: bottom 10px right 20px;
  padding-top: 80px ;
}


.header-container{
  position: relative;
  //display: flex;
  //flex-direction: column;
  color: #fff;
  //justify-content: center;
  //width: 700px;
  //height: 300px;
  //text-align: center;
  //margin: 45px auto;
  z-index: 2;
  white-space: nowrap;
  padding-top:60px ;

}



.header-container  h3{
  font-size: 36px;
  margin-bottom: 50px;
  //position: relative;
  //z-index: 100;
}

.header-container span{
  font-size: 20px;
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

.header-container-link{
  display: block;
}



 .header-container a{
   margin: 0 auto;
   width: 80px;
   display: block;
  border: 1px solid #0099e5;
  background-color: #0099e5;
  border-radius: 30px;
  padding: 10px 20px;
  color: #fff;
  font-size: 12px;
}

.header-container-link a:hover{
  background-color:#00aaff ;
}





