.image-view-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: self-start;
  margin: 30px auto;

}

.image-view-container img{
  max-width: 700px;
  height: auto;
  padding-left: 50px;
}

.update_form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  align-items: self-end;

}

.update_form form{
  display: flex;
  flex-direction: column;
  //width: 500px;
  height: 600px;
  //margin-right: -300px;
  padding-right: 100px;
}

.update_form form label:not(first-child){
  padding-top: 10px;
  padding-bottom: 5px;
}

.update_form form input{
  width: 200px;
  height: 20px;
}

.update_form form textarea{
  width: 200px;
  height: 100px;
  resize: none;
}


.button-collection{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.button-collection button{
  width: 100px;
  height: 40px;
  background-color: #0099e5;
  color: #fff;
}

.button-collection button span{
  padding-left: 10px;
}

.info{
  display: flex;
  flex-direction: row;
  align-items: self-end;
  height: 100%;
  width: 300px;
  border-left: 1px solid #DADADA;
}

.image-info{
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
  //border: 1px solid black;
  width: 300px;
  height: 100%;

}

.image-info div:first-child{
  height: 30px;
}

.image-info div{
  padding: 15px;
  border-bottom: 1px solid #eeeff2;
}








//.image-view-container img{
//  width: auto;
//  max-height: 700px;
//}

//.image-view-container form{
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  width: 350px;
//  height: 600px;
//
//}


//.side-block {
//  margin: 15px 0 15px 0;
//  display: flex;
//  flex-direction: column;
//}
//
//.side-block label {
//  margin: 0 0 8px 0;
//  font-size: 18px;
//}
//
//.side-block input {
//  height: 80px;
//  font-size: 14px;
//  padding: 2px 0 2px 20px;
//}
//
//.side-block textarea {
//  height: 300px;
//  font-size: 14px;
//  padding: 2px 0 2px 10px;
//  resize: none;
//}
//
//
//.side-buttons-block {
//  font-size: 14px;
//  padding: 2px 0 2px 0px;
//  margin-top: 25px;
//  display: flex;
//  flex-direction: column;
//  text-align: center;
//  height: 180px;
//}
//
//
//.side-buttons-block button {
//  width: 100%;
//  margin-bottom: 10px;
//  height: 100px;
//  display: block;
//  font-size: 18px;
//  background-color: #0099e5;
//  color: #fff;
//  border: #0099e5;
//}
//
//.side-buttons-block input{
//  background-color: #0099e5;
//  color: #fff;
//  border:#0099e5;
//}
//
//.side-buttons-block button:hover{
//  background-color: #00aaff;
//}
//
//.side-buttons-block input:hover{
//  background-color: #00aaff;
//}
//.side-buttons-block input {
//  width: 100%;
//  margin-bottom: 10px;
//  height: 100px;
//  display: block;
//  font-size: 18px;
//}
//
//
//
//
//



