.image-view-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: self-start;
  margin: 30px auto;

}

//.image-view-container img{
//  max-width: 700px;
//  height: auto;
//  padding-left: 50px;
//}
//

.responsive {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding-left: 50px;
}

.update_form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  align-items: self-end;

}

.update_form form{
  display: flex;
  flex-direction: column;
  //width: 500px;
  height: 600px;
  //margin-right: -300px;
  padding-right: 100px;
}

.update_form form label:not(first-child){
  padding-top: 10px;
  padding-bottom: 5px;
}

.update_form form input{
  width: 200px;
  height: 30px;
  font-size: 18px;
}

.update_form form textarea{
  width: 200px;
  height: 100px;
  resize: none;
  font-size: 18px;
}


.button-collection{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.button-collection button{
  width: 100px;
  height: 40px;
  background-color: #0099e5;
  color: #fff;
}

.button-collection button span{
  padding-left: 10px;
  font-size: 15px;
}

.info{
  display: flex;
  flex-direction: row;
  align-items: self-end;
  height: 100%;
  width: 300px;
  border-left: 1px solid #DADADA;
}

.image-info{
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
  //border: 1px solid black;
  width: 300px;
  height: 100%;

}

.image-info div:first-child{
  height: 30px;
}

.image-info div{
  padding-left: 15px;
  padding-bottom: 10px;
  border: 1px solid #eeeff2;
}

.image-info div span{
  padding-left: 20px;
}
.author-info{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

}

.author-info img {
  display: flex;
  width: 40px;
  height: 40px;
  object-fit: cover;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #BBBBBB;
}

.author-state{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.author-state label:nth-child(2){
  font-size: 12px;
  color: #71767a;
}


.action-tools{
  padding-top: 12px;
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  width: 150px;
}

.action-tools button{
  background-color: #0099e5;
  border: 1px solid #0099e5;
  color: #fff;
  font-size: 9px;
  width: 60px;
  height: 20px;
}

.follow-button{
  padding-right: 15px;
}

.img-title{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.img-title label{
  color: #71767a;
}

.img-title span{
  padding: 10px;
  font-size: 14px;
}

.img-location{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.img-location label{
  color: #71767a;
}

.img-location span{
  padding: 10px;
  font-size: 14px;
}


.img-desc{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.img-desc label{
  color: #71767a;
}

.img-desc span{
  padding: 10px;
  font-size: 14px;
}

.img-date{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.img-date label{
  color: #71767a;
}

.img-date span{
  padding: 10px;
  font-size: 14px;

}

.img-category{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.img-category label{
  color: #71767a;
}

.img-category span{
  padding: 10px;
  font-size: 14px;
}



.update-button:disabled{
  background-color: #BBBBBB;
}

.delete-button:disabled{
  background-color: #BBBBBB;
}

.update-button:disabled:hover{
  background-color: #BBBBBB;
}

.delete-button:disabled:hover{
  background-color: #BBBBBB;
}

.error{
  margin: 60px
}





