.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  white-space: nowrap;
  z-index: 2;
  position: relative;
}

.links{
  display: flex;
  flex-direction:row;
  width: 250px;
  justify-content: space-between;
  color: #fff;
}


.user-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}

.user-info .dropdown{
  position: relative;
  display: inline-block;
}

.user-info .dropdown > i{
  cursor: pointer;
}

.user-info .dropdown > i:hover{
  color: #0099e5;
}

.user-info li i{
  cursor: pointer;
}

.user-info li i:hover{
  color: #0099e5;
}

.user-info .dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-info .dropdown-content{
  display: none;
  position: absolute;
  right: -4px;
  top: 15px;
  background-color: #fff;
  border: 2px solid #fff;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.user-info .dropdown-content ul li a{
  font-size: 12px;
  color: #666666;
}

.user-info .dropdown-content li{
  padding: 8px;
  border-bottom: #999999;
  cursor: pointer;
}


.user-info .dropdown-content ul li:hover a{
  cursor: pointer;
  color: #0099e5;
}

.user-info .dropdown-content ul li a:hover{
  color: #0099e5;
}



.links h1{
  padding-right: 15px;
}

.links h1 a{
  font-size: 20px;
}

.links ul{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 120px;
  padding-right: 5px;
}

.links a{
  color: #fff;
  font-size: 14px;
}

.nav-login{
  display:flex;
  font-size: 14px;
  justify-content: space-between;
  width: 190px;
  line-height: 18px;
}

.nav-login li a{
  color: #fff;
}

.nav-login li a.signup {
  background-color: #0099e5;
  border-color: #0099e5;
  border-radius: 35px;
  padding: 5px 15px;
}


.nav-login li a.signup:hover{
  background-color: #00aaff;
}

.nav-session{
  display:flex;
  font-size: 15px;
  justify-content: space-between;
  width: 120px;
}

.nav-session li:first-child > a{
  background-color: #0099e5;
  color: #fff;
  padding: 18px 10px;
}

.nav-session li:first-child > a:hover{
  background-color: #00aaff;
}

.nav-session li:last-child > a{
  color: #666666;
}


.links-session{
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
  color: black;
}



.links-session ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 120px;
  padding-right: 5px;
}

.links-session ul li a{
  color: #666666;
  font-size: 14px;
}

.links-session h1 a{
  color: black;
  font-size: 20px;
}



