.profile-container{
  display: flex;
  flex-direction: column;
  height: 800px;
  margin: 0 auto;
}

.profile-status{
  width: 80%;
  border-bottom:1px solid #999999 ;
  height: 450px;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
}

.profile-status h3{
  font-size: 20px;
  font-weight: 700;
}

.profile-pic{
  display:flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-gallery{
  display: flex;
  width: 100%;
}



.status{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.status ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.status ul li{
  padding-left: 15px ;
  font-size: 18px;
  font-weight: 700;
}

.status ul li span{
  padding-left: 10px;
}

.errors ul{
  padding-top: 20px;
}

.errors li{
  padding-top: 5px;
  color: red;
}



#profile-photos {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
  padding: 20px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

#profile-photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

#profile-photos li{
  list-style: none;
  padding: 3px;
}



//@media (max-width: 1500px) {
//  #profile-photos {
//    -moz-column-count:    5;
//    -webkit-column-count: 5;
//    column-count:         5;
//  }
//}

@media (max-width: 1200px) {
  #profile-photos {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
  }
}
@media (max-width: 1000px) {
  #profile-photos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
}
@media (max-width: 800px) {
  #profile-photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}
@media (max-width: 400px) {
  #profile-photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}