.profile-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-profile{
  background: #2E2F30;
  box-shadow: -1px 2px 20px #2E2F30;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 1%;
  border-bottom: 1px solid #666666;
  .logo{
    margin-left: 5%;
    span a{
      font-family: 'Raleway', sans-serif;
      color: #ff6600;
      font-size: 30px;
      font-weight: 700;
    }
    a:hover{
      color: #EFEFEF;
    }
    margin-top: 1%;
  }
  .link-container{
    display: flex;
    justify-content:space-between;
    margin-right: 4%;
    div{
      display: flex;
      width: 40%;
      margin-left: 5%;
      line-height: 2.9;
      span{
        font-family: 'Raleway', sans-serif;
        color: #ff6600;
        animation: fadein 2s;
        font-size: 15px;
        font-weight: 400;
      }
    }


    ul{
      display: flex;
      width: 40%;
      justify-content: space-between;
      line-height: 2.5;
      li {
        transition: transform 0.3s ease-in-out;
        span{
          font-family: 'Raleway', sans-serif;
          color: #EFEFEF;
          padding-bottom: 12%;
          transition: border-bottom 0.3s ease-in-out;
        }

        span:hover{
          color: #ff6600;
          border-bottom: 1px solid #ff6600;
          cursor: pointer;
        }
      }
    }
  }
}


.settings-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  animation: fadein 2s;
  .profile-header{
    display: flex;
    justify-content: space-between;
    margin: 5% 10% 5% 10%;
    .profile-picture{
      img{
        display: flex;
        max-width: 60%;
        object-fit: cover;
        border: 1px solid black;
        padding: 2%;
        border-radius: 20px;
      }
    }
    .profile-info{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        li{
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          font-weight: 700;
          padding: 2%;
          span{
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            padding-left: 8%;
            font-weight: 400;
          }
        }
      }
    }
  }

  .user-form{
    display: flex;
    justify-content: center;
    width: 70%;
    animation: fadein 3s;

    form{
      display: flex;
      flex-direction: column;
      width: 85%;
      div{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10%;
        label{
          font-family: 'Raleway', sans-serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 1.5;
        }
        input[type="text"],input[type="password"]{
          width: 60%;
          height: 10%;
          font-size: 14px;
          font-family: 'Raleway', sans-serif;
          -webkit-appearance: none;
          border:none;
          border-bottom: 1px solid #999999;
          transition: border-bottom-color 0.2s ease-in-out;

        }
        input[type="text"]:focus,input[type="password"]:focus{
          border-bottom-color: #ff6600;
        }
      }
      div:nth-child(5){
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        width: 100%;
        input{
          border:1px solid #999999;
          cursor: pointer;
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          border-radius: 7%;
        }
        input:hover{
          color: #EFEFEF;
          background-color: #ff6600;
          border-color: #ff6600;

        }
      }
    }
  }
}

.user-gallery-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  .user-gallery{
    display: flex;
    width: 90%;
    justify-content: center;
    margin-top: 2%;
    .main{
      width: 80%;
      margin: 0 auto;
    }

    .figure-img{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation: fadein 5s;
    }


    @media (min-width: 600px){
      main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
      }

      .user-figure1{
        grid-column: span 2;
        grid-row: span 3;
      }

      .user-figure2{
        grid-column: span 2;
      }

    }

    @media (max-width: 600px){
      main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
      }

      .user-figure1{
        grid-column: span 2;
        grid-row: span 3;
      }

      .user-figure2{
        grid-column: span 2;
      }
    }
  }
}








@media (max-width: 800px){
  .link-container{
    justify-content: flex-end !important;

    ul{
     width: 60% !important;
     li{
       span{
         font-size: 16px !important;
       }
     }
    }
  }

  .profile-picture{
    img{
      width: 50% !important;
      display: flex;
      object-fit: cover;
    }
  }

  .profile-info{
    ul{
      li{
        font-size: 14px !important;
        span{
          font-size: 14px !important;

        }
      }
    }
  }

}


@media (max-width: 500px) {
  .link-container {
    justify-content: flex-end !important;
    div{
      line-height: 2.8 !important;
      span{
        font-size: 13px;
        line-height: 2.8;
      }
    }
    ul {
      width: 80% !important;
      li {
        span {
          font-size: 13px !important;
        }
      }
    }
  }

  .profile-picture {
    img {
      width: 50% !important;
      display: flex;
      object-fit: cover;
    }
  }
}


@media (max-width: 400px){
  .nav-profile{
    .logo{
      span a{
        font-size: 15px !important;
      }
    }
  }
  .link-container{
    div{
      span{
        font-size: 10px !important;
        line-height: 4.5;

      }
    }
    ul{
      li{
        span{
          font-size: 10px !important;
        }
      }
    }
  }
}



@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}


@keyframes fadeout {
  from {
    opacity:1;
  }
  to {
    opacity:0;
  }
}

@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
