.session{
  //height: calc(80vh - 78px);
  height: 500px;
  background-color: #fff;
  margin: 65px auto;
  width: 400px;
  padding: 40px;
  box-sizing: border-box;
  font-size: 15px;
}


.session form input{
  margin-top: 6px;
  margin-bottom: 20px;
}

.session > h4 {
  margin-bottom: 20px;
  text-align: center;
  color: #525558;
  font-size: 16px;
}


.session label{
  color:#71767a;
}



.session input[type=text],.session input[type=password]{
  width: 100%;
  height: 30px;
  font-size: 14px;

}

.password{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.session input[type=text]:focus,.session input[type=password]:focus{
  border-color: #0099e5;
  //-webkit-appearance: none;
  outline: 0;


}

.session input[type=submit]{
  border-radius: 0;
  width: 100%;
  height: 40px;
  background-color: #0099e5;
  border-color: #0099e5;
  text-shadow: 0px 1px 0px #0099e5;
  color: #fff;
  font-weight: 200;
  font-size: 18px;
}

.session .signup-link{
  font-size: 12px;
  text-align: center;
  margin-top: 170px;
}


.session input[type=submit]:hover{
  background-color: #00aaff;
  cursor: pointer;
}


