.upload-container{
  .dropzone{
    height: 10%;
    border: 2px dashed #ccc;
    color: #ccc;
    padding: 10% 2% 10% 2%;
    margin-right: 2%;
    display: flex;
    justify-content:center;
    text-align: center;
    label{
      overflow: hidden;
      position: relative;
      cursor:pointer;
      input{
        cursor: inherit;
        display:block;
        font-size: 15px;
        min-heidght: 100%;
        min-width: 100%;
        opacity: 0;
        position: relative;
        right: 0;
        // text-align: right;
        top: 0;
      }
    }

  }
}